Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [3]:
# empty list
# type your code here
l=[]
print(l)

[]

In [1]:
# type your code here
st = [1,2,3,4]
print(st)

[1, 2, 3, 4]

In [2]:
st = [1,22.33,"Machine"]
print(st)
# type your code here
print(type(st))

[1, 22.33, 'Machine']
<class 'list'>

In [4]:
st = ['A','B','C','D','E']
# type your code here
print(st[0])
print(st[3])
print(st[-1])
print('A' in st)

A
D
E
True

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [5]:
st = ['A','B','C','D','E']
print(st)
# type your code here
st[1]=88
print(st)

['A', 'B', 'C', 'D', 'E']
['A', 88, 'C', 'D', 'E']

In [6]:
# type your code here
'B' in st

False

In [13]:
# List of lists
l=[1,2,[100,200,300],22.3,[99,100,[44,32],21],76]
# type your code here
print(l)
print(l[0])
print(l[2])
print(l[2][0])
print(l[2][2])
print(l[4][2][1])

[1, 2, [100, 200, 300], 22.3, [99, 100, [44, 32], 21], 76]
1
[100, 200, 300]
100
300
32

In [16]:
l=[1,2,3,4,5]
print(l)
# type your code here
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [ ]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

In [17]:
l=[1,2,3,4,5]
print(l)
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [18]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
# type your code here
l1+l2

[1, 2, 3, 11, 12, 13]

11.0

Traversing a list
--

In [7]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
# type your code here
for i in names:
    print(i)

Darshan
Python Trainer
Deep Learning Trainer
ML Trainer

In [19]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
# type your code here
s.pop()

44

In [20]:
print(s)

[1, 2, 3, 4, 5, 6, 7, 55]

In [21]:
s.pop(1)

2

In [22]:
s

[1, 3, 4, 5, 6, 7, 55]

In [23]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

In [24]:
# * means repetition
# type your code here
[0]*5

[0, 0, 0, 0, 0]

In [25]:
# type your code here
[1,"Lets Upgrade",5]*3

[1, 'Lets Upgrade', 5, 1, 'Lets Upgrade', 5, 1, 'Lets Upgrade', 5]

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [26]:
# type your code here
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [28]:
# empty tuple
# type your code here
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [31]:
# type your code here
t = (1)
print(t)
print(type(t))

1
<class 'int'>

In [32]:
# Single value tuple must use a __________________
# type your code here

t=(1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [33]:
t = (1,2,33.4443,5,6)
# type your code here
print(t[1:3])
print(t[1:])
print(t[:4])
print(t[::-1])
print(t[-5:-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)
(1, 2, 33.4443, 5)

In [35]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [36]:
t1*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [37]:
3 in t1

True

In [38]:
len(t1)

3

In [39]:
max(t1)

3

In [40]:
min(t1)

1

Variable Length Arguments.
--

In [45]:
def var(*args):
    print(args)

# type your code here
var(1)
var(1,2,3)
var("darshan","Lets Upgrade",32)
var()

(1,)
(1, 2, 3)
('darshan', 'Lets Upgrade', 32)
()

In [46]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)